@model IEnumerable<TrackiSwift.Models.Order>

@{
    ViewData["Title"] = "Index";
}
@{
    var status = Context.Request.Query["status"];
    var unverified = "text-primary";
    var inprocess = "text-primary";
    var delivered = "text-primary";
    var returned = "text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "unverified":
            unverified = "active text-white";
            break;
        case "inprocess":
            inprocess = "active text-white";
            break;
        case "delivered":
            delivered = "active text-white";
            break;
        case "returned":
            returned = "active text-white";
            break;
        default:
            all = "active text-white";
            break;
    }
}

<div class="container p-3">
    <div class="d-flex justify-content-between pt-0">
        <div class="pt-2">
            <h2 class="text-primary">Order List</h2>
        </div>
        <div class="pt-2">
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="unverified">
                <li class="list-group-item @unverified">Unverified</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
                <li class="list-group-item @inprocess">InProcess</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="delivered">
                <li class="list-group-item @delivered">Delivered</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="returned">
                <li class="list-group-item @returned">Returned</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">All</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-6 text-end">
            <form method="post" enctype="multipart/form-data" asp-controller="Order" asp-action="Import">
                <div class="input-group">
                    <input type="file" name="file" class="form-control" />
                    <button type="submit" class="btn btn-primary">Import Order(.xlsx)</button>
                </div>
            </form>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Order" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp Create New Order
            </a>
        </div>
    </div>
    <br />
    <table id="tblData" class="table table-bordered table-striped table-hover " style="width:100%">
        <thead>
            <tr>
                <th>
                    Order Id
                </th>
                <th>
                    Receiver Name
                </th>
                <th>
                    Receiver Number
                </th>
                <th>
                    Created At
                </th>
                <th>
                    Delivery Address
                </th>
                <th>
                    Weight(KG)
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Delivery Status
                </th>
                <th>
                    Payment Status
                </th>
                <th></th>
            </tr>
        </thead>

        @*  <tbody>
        @foreach (var obj in Model)
        {
        <tr>
        <td width="3%">
        @obj.OrderId
        </td>
        <td width="30%">
        @obj.ReceiverName
        </td>
        <td width="22%">
        @obj.CreatedDateTime
        </td>
        <td width="20%">
        @obj.DeliveryAddress
        </td>
        <td width="15%">
        @obj.Weight
        </td>
        <td width="20%">
        @obj.Amount
        </td>
        <td width="25%">
        @obj.DeliveryStatus
        </td>
        <td width="25%">
        @obj.PaymentStatus
        </td>
        <td style="display:flex;">
        <div class="w-50 btn-group" role="group">
        <a asp-area="Client" asp-controller="Order" asp-action="Edit" asp-route-id="@obj.OrderId" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>&nbsp Edit</a>
        </div>
        <div class="w-50 btn-group" role="group">
        <a asp-area="Client" asp-controller="Order" asp-action="Delete" asp-route-id="@obj.OrderId" class="btn btn-danger mx-2"> <i class="bi bi-pencil-square"></i>&nbsp Delete</a>
        </div>
        </td>
        </tr>
        }

        </tbody> *@

    </table>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}